#provider-table td {
  /* min-width: 150px; */
  font-size: 14px;
}

#provider-table span:not(first-child) {
  margin-left: 5px;
}

.search-form {
  height: 50px;
}

.search-form input[type="text"] {
  margin-right: 20px;
}
.search-form label {
  margin-right: 10px;
}
